.helperApi {

    display: flex;
    align-items: center;
    background: red;
    position: fixed;
    z-index: 9999;
    bottom: 0%;
    right: 0%;

    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: translateY(50%);
    animation: loadAnim 0.5s forwards;
    animation-delay: 1s;
    box-shadow: 1px 5px 25px 5px rgba(0, 0, 0, .6);

}

.bubble {
    position: fixed;
    display: none;
    z-index: 10000;
    bottom: 0%;
    right: 0%;
    background: yellow;

    & .active {
        transition: all 1s ease-in-out;
    }
}

.active {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 300px;
    justify-content: space-between
}

.helperApi:hover {

    background: orange;
    cursor: pointer;
    animation: hoverAnim 0.3s forwards;
    transition: all 0.3s ease-in-out;


}

.helperApi:not(:hover) {

    animation: returnAnim 0.3s forwards;

}


@keyframes bounce {

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes hoverAnim {
    50% {
        animation-play-state: paused;
        transform: translateY(inherit) scale(1);
    }

    100% {
        transform: translateY(0%) scale(1.1);
    }
}

@keyframes returnAnim {
    0% {
        transform: translateY(0%) scale(1.1);
    }

    100% {
        transform: translateY(50%) scale(1);
    }
}

.close-x {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close-x::before,
.close-x::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-x::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.helperInput {
    width: 80%;
    height: 20%;
    margin: 0 10%;
    border-radius: 10px;
    border: 2px solid #333;
    padding: 5px;
    font-size: 1em;
}