.Headshot {
    width: auto;
    height: 400px;
    max-height: 500px;
    border-radius: 100vw;
    transition: all 0.3s ease-in-out;
    margin: 2vw;
}

.team-card {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    transition: transform 0.3s ease-in-out;
}

.bios {
    margin-top: 1ch;
    font-size: 1em;
    color: var(--text-color-secondary);
}

.image-container {
    position: relative;

}

.team-grid {
    width: 100%;
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 3rem;
    justify-content: center;

    &>div {
        margin: auto;
        text-align: center;
    }

    & a {
        position: absolute;
        bottom: 12%;
        left: 25%;
        text-decoration: none;
        border: 1px solid;
        border-radius: 100vw;
        font-size: .9em;
        background-clip: border-box;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

        color: linear-gradient(var(--text-color-primary), var(--text-color-secondary));
        padding: 0.5ch 1ch;
        background:
            white
            /* linear-gradient(transparent, transparent); */

    }
}

.team-container {
    padding: 4ch;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}