.imageCont {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    object-position: center;
    object-fit: cover;
    z-index:-1;
    height:100%;
    width:100%;
     animation: float 20s ease-in-out infinite;
    
}
.imageCard {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    object-position: center;
    object-fit: cover;
    z-index:-1;
    height:100%;
    width:100%;
    max-width: 200px;
   
}

@keyframes float {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.photographer {
    position: absolute;
    margin-top: 0.5em;
    font-size: 0.8em;
    color: var(--text-color);   
}