@import '../../root.css';
@import '../../App.css';

.imageCont {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    object-position: center;
    object-fit: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    animation: float 20s ease-in-out infinite;
    overflow-x: scroll;


}

.imageCard {

    position: relative;
    display: flex;
    filter: blur(0px) grayscale(0%);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    object-position: center;
    object-fit: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;


    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        top: 0;
        left: 0;
        z-index: 999;
        animation: unblur 0.5s ease-in-out forwards;

    }

}



.descriptions {

    opacity: 0;
    position: absolute;
    top: 10%;
    margin: 0 0% 5% 0;
    font-size: 1em;
    padding: 2ch;
    color: var(--text-color);
    background: white;
    border-radius: 1em;
    transition: all 0.5s ease-in-out;

}

.imageCard:hover {
    filter: blur(10px) grayscale(80%);

    .descriptions {
        opacity: 1;
        z-index: 1000;
        filter: blur(0px);
        transition: all 0.5s ease-in-out;
        transition-delay: 0.3s;
    }


}

@keyframes float {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);

    }
}

.photographer {

    position: absolute;
    margin: 0 0% 1% 0;
    bottom: 0;
    font-size: 0.8em;
    padding: 2ch;
    text-decoration: none;
    color: var(--text-color);
    background: white;
    border-radius: 1em;
    z-index: 1000;

    & a {
        text-decoration: none;
        color: var(--text-color-primary);
        padding: 2.5ch;

    }
}

.pexels-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 1ch;
    bottom: 0;
    left: 0;
    margin: 1em;
    width: 75px;
    height: auto;
    z-index: 1000;
    background: rgb(150, 136, 136);
    padding: 0.2ch;
    border-radius: 100vw;

    & img {
        width: 50%;
        height: auto;
        padding: 0.2ch;
        margin: auto;

    }

    & a {
        padding: .4ch;
    }

}

a[href^='http']::after {
    content: url("/public/externalSite.svg");
    position: absolute;
    object-fit: contain;
    cursor: pointer;
    margin: auto;
    padding-left: 1ch;
    z-index: 1000;
}