@import "./components/heading/Heading.css";
@import "./components/products/Products.css";
@import "./components/testimonials/Testimonials.css";
@import "./components/nav/Nav.css";
@import "./root.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
.App {
  display: block;
  font-family: var(--body-font-family);
  color: var(--text-color-primary);
  background-size: fill;
  height: 100vh;
  overflow-y: auto;

}

.screenSection {
  position:relative;
  margin: auto;
  scroll-snap-stop: normal;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    'left center right'
    'leftMid centerMid rightMid'
    'leftBottom centerBottom rightBottom'
  ;
  grid-template-columns: 1fr 2fr 1fr;
  border: transparent 10px solid;
  gap: 10px;
  Height: 100vh;
  Width: 100%;
  color: var(--text-color-primary);
  font-size: var(--primary-font-size);
  position: relative; /* Add this for ::after positioning */
  
  /* Add the view timeline here - the element being observed */
  view-timeline-name: --section-timeline;
  view-timeline-axis: block;
   border: transparent 1px solid;
   
  &::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
   
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      
      rgba(0, 0, 0, 0.0),
      rgba(219, 219, 219, 0.3),
      rgba(255, 255, 255, 0.03)
    );
    z-index: 1;
  }
}

.image {
  width: 10%;
  height: auto;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardContainer {
  position: relative;
  grid-row: 1/-4;
  gap: 1em;
  display: flex;
  height:100vh;
  width: auto;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  z-index: 2;
  
  border-radius: 1em;
  background: hsl(from var(--primary-color) / 0.2);
  backdrop-filter: blur(20px) grayscale(50%);
  & .heading {
     view-timeline-name: --header-timeline;
  }

}




.cardContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  border: transparent 1px solid;
  border-radius: inherit;
  background: steelblue border-box;
  mask:
    linear-gradient(black) border-box,
    linear-gradient(black) padding-box;
  mask-composite: subtract;
}

div[class^="cover"] {
  grid-column: 1/-1;
}

div[class$="left"] {
  grid-column: left/ center;
  position: relative;
  transform: translateX(-5%);
  animation: slideIn 3s linear alternate ;
  animation-timeline: --section-timeline; 
  animation-range: entry -10% cover 50%; /* Control when animation triggers */
}

@keyframes slideIn {
  0% {
    opacity: 0;
     transform: translateX(0%);
    
  }
  100%{
    opacity: 1;

  }
  

}

div[class$="right"] {
  
  grid-column: center/ right;
  transform: translateX(5%);
   animation: slideIn 1s linear alternate ;
  animation-timeline: --section-timeline; 
  animation-range: entry 0% cover 50%; /* Control when animation triggers */


}
