
@import "./components/nav/Nav.css";
@import "./root.css";


body {
  overflow: hidden;
}
.App {
  display: block;
  font-family: var(--body-font-family);
  color: var(--text-color-primary);
  background-size: fill;
  height: 100vh;
  overflow-y: auto;

  view-timeline-name: var(--timeline-default);
  view-timeline-axis: block;


}

.screenSection {
  position:relative;
  background: hsl(from var(p) / 0.8);
  overflow: none;
  display: grid;
  grid-template-areas:
    'left center right'
    'leftMid centerMid rightMid'
    'leftBottom centerBottom rightBottom'
  ;  grid-template-columns: 1fr .25fr 1fr;
  gap: 10px;
  Height: 100vh;
  Width: 100%;
  color: var(--text-color-primary);
  font-size: var(--primary-font-size);


   
 
    
}

.left {
  grid-area: left;
}
.center {
  grid-area:center;
}
.right{
  grid-area: right;
}

.centerMid {
  grid-area: centerMid;
}
.image {
  width: 10%;
  height: auto;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardContainer {
  position: relative;
  gap: 1em;
  display: flex;
  height:100%;
  padding: 4em;
  width: auto;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 1em;
  background: hsl(from var(--primary-color) / 0.2);
 

}


.cardContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: transparent 1px solid;
  border-radius: inherit;
  mask:
    linear-gradient(black) border-box,
    linear-gradient(black) padding-box;

}

div[class^="cover"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: inherit;
  background: var(--secondary-color) border-box;
  mask:
    linear-gradient(black) border-box,
    linear-gradient(black) padding-box;

}

div[class$="left"] {
  grid-column: left;
  position: relative;
  transform: translateX(-1%);
  animation: slideIn 1s linear alternate ;
  animation-timeline: var(--timeline-default); 
  animation-range: entry 0% cover 50%; /* Control when animation triggers */
}

@keyframes slideIn {
  0% {
    opacity: 0;
     transform: translateX(0%);
    
  }
  100%{
    opacity: 1;

  }
  

}


div[class$="right"] {
  
  grid-column:  right;
  grid-row: rightMid;
  transform: translateX(1%);
   animation: slideIn 3s linear alternate;
  margin:auto;
  /* animation-timeline: var(--timeline-default); 
  animation-range: entry 0% cover 50%;  */
   animation: fadeOscillate 5s ease-in-out infinite;
& h1{
    text-align: center;
    color: white;
    
   
  }
}
.building-video {
    position: absolute;
    top: 0%;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 50vw;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: brightness(0.6);
    transition: all  ease-in-out;
    animation: fadeOscillate 5s ease-in-out infinite;
 
  mask-clip: padding-box;
    background-image: radial-gradient(circle at 200% 50%, white, transparent);
    background-origin: padding-box;

 
   
    &::after {
        content: "";
      
        background: black;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        top: 0;
        RIGHT: 50%;
        z-index: 999;
        
      }
}


.building-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, 
        var(--primary-color, #000) 0%, 
        transparent 100%);
    z-index: 1;
    pointer-events: none;
}

.building-video::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, 
        var(--primary-color, #000) 0%, 
        transparent 100%);
    z-index: 1;
    pointer-events: none;
}
@keyframes fadeOscillate {
    0% {
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.0;
    }
}