@import '../../root.css';
.nav {
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 10;
  
}
.navLinks {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    background: linear-gradient(var(--primary-color-dark), var(--primary-color-darker));
    width:100%;
    height: 10vh;
    margin: auto;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: start;
    &li {
        width: auto;
        flex-basis: 1;      
    }
    & a {
        text-decoration: none;
        color: var(--text-color-primary);
        
        font-size: var(--primary-font-size);
        padding: 1em;
        &:hover {
            color: var(--accent-color);
        }
    }
}