@import '../../root.css';

.nav {

    width: 100vw;
    height: 10ch;
    z-index: 10;
    position: fixed;



}

.navLogo {
    position: fixed;
    left: 1em;
    top: .5em;
    width: 8ch;
    height: auto;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background: radial-gradient(circle at 50% 50%, var(--primary-color-dark), var(--primary-color-darker)); */
    background-clip: content-box;
    width: 100%;
    height: 10ch;
    margin: auto;
    list-style: none;
    text-decoration: none;
    letter-spacing: .5ch;
    align-items: center;
    justify-content: Center;

    &li {
        width: auto;
        flex-basis: 1;
    }

    & a {
        text-decoration: none;
        color: var(--text-color-primary);
        font-size: var(--header-font-size);
        padding: 1em;

        &:hover {
            color: var(--accent-color);
        }
    }

    [href="/login"] {
        position: fixed;
        right: 0;
        ;

        font-size: var(--primary-font-size);
        top: 5ch;
        padding: .3em;
        border: 1px solid transparent;
        border-radius: 100vw;
        letter-spacing: 0;
        background: radial-gradient(circle at 50% 50%, var(--secondary-color-dark),
                transparent);
        transition: all 1s ease-in-out;

        &:hover {
            background: var(--secondary-color-darker);
            transform: scale(1.1)
        }
    }
}