@import '../../root.css';

.nav {

    width: 100vw;
    height: 10ch;
    z-index: 10;
    position: fixed;



}

.navLinks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(var(--primary-color-dark), var(--primary-color-darker));
    width: 100%;
    height: 10ch;
    margin: auto;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: Center;

    &li {
        width: auto;
        flex-basis: 1;
    }

    & a {
        text-decoration: none;
        color: var(--text-color-primary);

        font-size: var(--primary-font-size);
        padding: 1em;

        &:hover {
            color: var(--accent-color);
        }
    }

    [href="/login"] {
        position: fixed;
        right: 0;
        padding: 1em;
    }
}